div { border: 2px inset black; margin: 2em auto ; width: 20em;
		background-color: #FFEBCD; border-radius: 5px; position: center;}
body {background-color: lightblue;
		font-family: arial;}
.enunciado { border: outset }
.titulo {font-weight: bold;}
